<a href="https://colab.research.google.com/github/marcumo/Kaggle-Challenge-Titanic-Survival-Analysis/blob/main/Titanic_data_Analisis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importar Librerías

importo nupy y pandas para el tratamiento de los datos, y sklearn para las predicciones

In [ ]:
# tratar datos
import numpy as np
import pandas as pd

# aleatorizar y separar data
from sklearn.model_selection import train_test_split

# 3 tipos de predicciones
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

## Importar Data

In [ ]:
url_test = '/content/drive/MyDrive/Colab/Titanic/test.csv'
url_train = '/content/drive/MyDrive/Colab/Titanic/train.csv'

In [ ]:
df_test = pd.read_csv(url_test)
df_train = pd.read_csv(url_train)

In [ ]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
print('Amount of data')
print(df_test.shape)
print(df_train.shape)

Amount of data
(418, 11)
(891, 12)

In [ ]:
print('Type of data')
print(df_test.info())
print(df_train.info())

Type of data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [ ]:
print('Missing data')
print(pd.isnull(df_test).sum())
print(pd.isnull(df_train).sum())

Missing data
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
print('###Dataset statistics###')
print('TEST:')
print(df_test.describe())
print('TRAIN:')
print(df_train.describe())

###Dataset statistics###
TEST:
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200
TRAIN:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [ ]:
#Change data from sex to Numbers
df_test['Sex'].replace(['female','male'],[0,1], inplace = True)
df_train['Sex'].replace(['female','male'],[0,1], inplace = True)

In [ ]:
#Change data from "embarked" to numbers
df_test['Embarked'].replace(['Q','S', 'C'],[0,1,2], inplace = True)
df_train['Embarked'].replace(['Q','S', 'C'],[0,1,2], inplace = True)

In [ ]:
# Remplazo de datos faltantes de edad por la media de la columna
print(df_test['Age'].mean())
print(df_train['Age'].mean())
mean_age = 30
df_test['Age'] = df_test['Age'].replace(np.nan, mean_age)
df_train['Age'] = df_train['Age'].replace(np.nan, mean_age)

30.272590361445783
29.69911764705882

In [ ]:
# se cran grupos de a cuerdo a bandas de edades
# las bandas serán de 0-8, 9-15, 16-18, 19-25, 26-40, 41-60, 60-100
bins = [0, 8, 15, 18, 25, 40, 60, 100]
names = ['1', '2', '3', '4', '5', '6', '7']
df_test['Age'] = pd.cut(df_test['Age'], bins, labels = names)
df_train['Age'] = pd.cut(df_train['Age'], bins, labels = names)

In [ ]:
# Se elimina la columna Cabin porque tiene muchos datos perdidos
df_test.drop(['Cabin'], axis = 1, inplace = True) 
df_train.drop(['Cabin'], axis = 1, inplace = True)

In [ ]:
# se eliminan las columnas que no son relevantes para el análisis

df_test = df_test.drop(['Name', 'Ticket'], axis = 1) 
df_train = df_train.drop(['PassengerId', 'Name', 'Ticket'], axis = 1)

In [ ]:
# Se eliminan las filas con datos perdidos

df_test.dropna(axis = 0, how = 'any', inplace = True)
df_train.dropna(axis = 0, how = 'any', inplace = True)

In [ ]:
# Verificamos los datos
print(pd.isnull(df_test).sum())
print(pd.isnull(df_train).sum())

print('#SHAPE')
print(df_test.shape)
print(df_train.shape)

print('#HEAD')
print(df_test.head())
print(df_train.head())

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
#SHAPE
(417, 8)
(889, 8)
#HEAD
   PassengerId  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0          892       3    1   5      0      0   7.8292         0
1          893       3    0   6      1      0   7.0000         1
2          894       2    1   7      0      0   9.6875         0
3          895       3    1   5      0      0   8.6625         1
4          896       3    0   4      1      1  12.2875         1
   Survived  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0         0       3    1   4      1      0   7.2500       1.0
1         1       1    0   5      1      0  71.2833       2.0
2         1       3    0   5      0      0   7.9250       1.0
3         1       1    0   5      1      0  53.1000       1.0
4         0       3    1   5      0      0   8.0500       1.0

## Aplicación de algoritmos de machine learning

In [ ]:
#separa la columna con la información de los sobrevivientes
X = np.array(df_train.drop(['Survived'], 1))
y = np.array(df_train['Survived'])

<ipython-input-79-9055e99a6fa0>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = np.array(df_train.drop(['Survived'], 1))

In [ ]:
# Separa los datos de train en entrenamiento y prueba para probar los algoritmos
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
# Regresión logistica
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Y_pred = logreg.predict(X_test)
print('preciso´n de la regresión logistica:')
print(logreg.score(X_train, y_train))

preciso´n de la regresión logistica:
0.7988748241912799

In [ ]:
# Suport Vector Machines

svc= SVC()
svc.fit(X_train, y_train)
Y_pred = svc.predict(X_test)
print('Presición con soporte de vectores')
print(svc.score(X_train, y_train))

Presición con soporte de vectores
0.680731364275668

In [ ]:
# K neiborgs
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)
print('Presición con vecinos más cercanos')
print(knn.score(X_train, y_train))

Presición con vecinos más cercanos
0.8565400843881856

## PREDICCÓN UTILIZANDO LOS MODELOS

In [ ]:
ids = df_test['PassengerId']

In [ ]:
# REGRESIón logistica
prediction_logreg = logreg.predict(df_test.drop('PassengerId', axis = 1))
out_logreg = pd.DataFrame({ 'PassengerId' : ids, 'Survivded' : prediction_logreg })
print('Predicción con regreción logistica:')
print(out_logreg.head())

NameError: ignored

In [ ]:
# Support Vector Machines
prediction_svc = svc.predict(df_test.drop('PassengerId', axis = 1))
out_svc = pd.DataFrame({ 'PassengerId' : ids, 'Survivded' : prediction_svc })
print('Predicción con upport Vector Machines:')
print(out_svc.head())

Predicción con upport Vector Machines:
   PassengerId  Survivded
0          892          0
1          893          0
2          894          0
3          895          0
4          896          0

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

In [ ]:
# K Neighbors
prediction_knn = knn.predict(df_test.drop('PassengerId', axis = 1))
out_knn = pd.DataFrame({ 'PassengerId' : ids, 'Survivded' : prediction_knn })
print('Predicción numero de vecinos:')
print(out_knn.head())

Predicción numero de vecinos:
   PassengerId  Survivded
0          892          0
1          893          0
2          894          0
3          895          0
4          896          1

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)